[Unit]
Description=%I - gunicorn

[Service]
Type=simple
Environment=DJANGO_SETTINGS_MODULE=outpost.settings
Environment=DJANGO_LOCAL_CONFIGURATION=/etc/django/%i.py
Environment=PYTHONPATH=/var/www/wsgi/%i/src
WorkingDirectory=/var/www/wsgi/%i/src
User=www-data-api
RuntimeDirectory=gunicorn
ExecStart=/usr/bin/gunicorn3 -c python:outpost.gunicorn -b unix:/run/gunicorn-asgi/%i.sock outpost.asgi:application

[Install]
WantedBy=outpost@%i.target
