[Unit]
Description=%I - WSGI

[Service]
Type=simple
Environment=DJANGO_SETTINGS_MODULE=outpost.settings
Environment=DJANGO_LOCAL_CONFIGURATION=/etc/django/%i.py
Environment=PYTHONPATH=/var/www/wsgi/%i/src
WorkingDirectory=/var/www/wsgi/%i/src
User=www-data-api
RuntimeDirectory=gunicorn-wsgi
ExecStart=/usr/bin/gunicorn3 -w 16 -b unix:/run/gunicorn-wsgi/%i.sock outpost.wsgi:application

[Install]
WantedBy=outpost-%i.target
