[Unit]
Description=%I - Celery Worker

[Service]
Type=simple
Environment=DJANGO_LOCAL_CONFIGURATION=/etc/django/%i.py
WorkingDirectory=/var/www/wsgi/%i/src
User=www-data-api
ExecStart=/usr/bin/python3 -m celery worker -E -A outpost.celery --loglevel=WARNING -n 'video@%i' --autoscale=10,3 -Q video

[Install]
WantedBy=outpost@%i.target
