{% extends "outpost/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="signin">
  <h2 class="form-signin-heading">Please sign in</h2>
  {% if next %}
      <div class="alert alert-info" role="alert">
        {% if user.is_authenticated %}
        Your account doesn't have access to this page. To proceed, please login with an account that has access.
        {% else %}
        Please login to see this page.
        {% endif %}
      </div>
  {% endif %}
  <form method="post" action="{% url 'accounts:login' %}" class="form-signin well">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">
      <i class="glyphicon glyphicon-log-in"></i>
      Sign in
    </button>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>
{% endblock %}
