{% extends "outpost/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="page-header">
  <h1>
    {% block app-form-title %}
    {% trans "Edit application" %} {{ application.name }}
    {% endblock app-form-title %}
  </h1>
</div>
<p>
<form method="post" action="{% if application %}{% url 'oauth2:edit' pk=application.pk %}{% else %}{% url 'oauth2:create' %}{% endif %}" enctype="multipart/form-data">
  {% csrf_token %}

  {{ form|crispy }}

  <div class="control-group {% if form.non_field_errors %}error{% endif %}">
    {% for error in form.non_field_errors %}
    <span class="help-inline">{{ error }}</span>
    {% endfor %}
  </div>

  <div class="control-group">
      <a class="btn btn-default" href="{% url 'oauth2:list' %}">
        <span class="glyphicon glyphicon-chevron-left"></span>
        {% trans "Go Back" %}
      </a>
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-ok"></span>
        Save
      </button>
  </div>
</form>
</p>
{% endblock %}
