{% extends 'outpost/base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="page-header">
  <h1>
    {% if object %}
    {% trans "Edit event" %} {{ object.title }}
    {% else %}
    {% trans "Create event" %}
    {% endif %}
  </h1>
</div>
<p>
<form method="post" action="{% if object %}{% url 'video:event:edit' pk=object.pk %}{% else %}{% url 'video:event:create' %}{% endif %}" enctype="multipart/form-data">
  {% csrf_token %}

  {{ form|crispy }}

  <div class="control-group {% if form.non_field_errors %}error{% endif %}">
    {% for error in form.non_field_errors %}
    <span class="help-inline">{{ error }}</span>
    {% endfor %}
  </div>

  <div class="control-group">
      <a class="btn btn-default" href="{% url 'video:event:list' %}">
        <span class="glyphicon glyphicon-chevron-left"></span>
        {% trans "Go Back" %}
      </a>
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-ok"></span>
        Save
      </button>
  </div>
</form>
</p>
{% endblock %}
