{% extends 'outpost/base.html' %}

{% load static %}

{% block content %}
<h1 class="page-header">Create new event</h1>
<div class="row">
  <div class="col-md-12">
    <h2>
      <span>Presenter</span>
      <span class="glyphicon glyphicon-user"></span>
      <button class="btn btn-primary btn-sm pull-right">
        <span class="glyphicon glyphicon-upload"></span>
        Upload
      </button>
    </h2>
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="" alt="">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
        ...
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>
      <span>Slides</span>
      <span class="glyphicon glyphicon-blackboard"></span>
      <button class="btn btn-primary btn-sm pull-right">
        <span class="glyphicon glyphicon-upload"></span>
        Upload
      </button>
    </h2>
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="" alt="">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
        ...
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>
      <span>Audio</span>
      <span class="glyphicon glyphicon-headphones"></span>
      <button class="btn btn-primary btn-sm pull-right">
        <span class="glyphicon glyphicon-upload"></span>
        Upload
      </button>
    </h2>
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="" alt="">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
        ...
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
{{ block.super }}
<script src="{% static 'moxie/moxie.js' %}"></script>
<script src="{% static 'plupload/plupload.dev.js' %}"></script>
<script src="{% static 'video/create_event.js' %}"></script>
{% endblock %}
