{% extends 'outpost/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<h1>
  {% blocktrans with pk=object.pk %}Recording {{ pk }}{% endblocktrans %}
  <small>
    {{ object.recorder }}, {{ object.created|date:'SHORT_DATETIME_FORMAT' }}
  </small>
</h1>
<div id="alert" class="alert alert-danger hidden" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <span class="glyphicon glyphicon-warning-sign"></span>
  <span class="message"></span>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>
      <a href="{{ object.data.url }}" class="btn btn-primary btn-block">
        <span class="glyphicon glyphicon-download-alt"></span>
        {{ object.info.format.format_long_name }} ({{ object.data.size|filesizeformat }})
      </a>
    </p>
  </div>
</div>
<h2>{% trans 'Exporters' %}</h2>
<div class="row">
  {% for exporter in exporters %}
  <div class="col-xs-12 col-sm-6 col-md-3 exporter" data-url="{% url 'video:recording:export' pk=object.pk exporter=exporter.1 %}">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{ exporter.0 }}
      </div>
      <div class="panel-body">
        <button type="button" class="btn btn-default btn-block request">
          <span class="glyphicon glyphicon-repeat"></span>
          {% trans 'Request' %}
        </button>
        <a href="" class="btn btn-success btn-block hidden download">
          <span class="glyphicon glyphicon-download-alt"></span>
          {% trans 'Download' %}
        </a>
      </div>
      <div class="panel-footer hidden status">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            <span>
              <span class="action"></span>
              (<span class="percent">0</span>%)
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<h2>{% trans 'Assets' %}</h2>
<div class="alert alert-info text-center" id="upload">
  <div>
    <span class="glyphicon glyphicon-upload"></span>
    Drag &amp; drop files here
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table id="assets" class="table table-striped table-vcenter">
      <thead>
        <tr>
          <th></th>
          <th>{% trans 'Name' %}</th>
          <th>{% trans 'MIME-Type' %}</th>
          <th>{% trans 'Date' %}</th>
          <th>{% trans 'Size' %}</th>
          <th></th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
<script id="tmpl-asset" type="text/x-jsrender">
<tr>
  <td>
    <span class="glyphicon glyphicon-file"></span>
  </td>
  <td>[[:name]]</td>
  <td>[[:mimetype]]</td>
  <td>[[:created]]</td>
  <td>[[:size]]</td>
  <td>
    <button class="btn btn-danger delete" data-toggle="popover" title="{% trans "Really delete?" %}">
      <span class="glyphicon glyphicon-trash"></span>
    </button>
    <a class="btn btn-default download" href="[[:url]]">
      <span class="glyphicon glyphicon-download"></span>
    </a>
  </td>
</tr>
</script>
<script id="tmpl-upload" type="text/x-jsrender">
<div class="row fade">
  <div class="col-xs-10">
    <div class="progress">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        <span></span>
      </div>
    </div>
  </div>
  <div class="col-xs-2">
    <button type="button" class="btn btn-warning btn-block btn-sm cancel">
      <span class="glyphicon glyphicon-remove"></span>
      {% trans "Abort" %}
    </button>
  </div>
</div>
</script>
{% endblock %}

{% block script %}
{{ block.super }}
<script src="{% static 'video/asset.js' %}"></script>
<script src="{% static 'video/export.js' %}"></script>
<script>
  {% for asset in object.recordingasset_set.all %}
  {% endfor %}
</script>
{% endblock %}
