{% extends 'outpost/base.html' %}
{% load static %}

{% block content %}
<h1>{{object }}</h1>
  <div id="alert" class="alert alert-danger hidden" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <span class="glyphicon glyphicon-warning-sign"></span>
    <span class="message"></span>
  </div>
<div class="row">
{% for exporter, class in exporters.items %}
<div class="col-xs-18 col-sm-6 col-md-3 exporter" data-url="{% url 'video:recording:export' pk=object.pk exporter=class %}">
<div class="panel panel-default">
  <div class="panel-heading">
    {{ exporter }}
  </div>
  <div class="panel-body">
    <button type="button" class="btn btn-default btn-block request">
      <span class="glyphicon glyphicon-open"></span>
      Request
    </button>
    <a href="" class="btn btn-success btn-block hidden download">
      <span class="glyphicon glyphicon-download-alt"></span>
      Download
    </a>
  </div>
  <div class="panel-footer hidden status">
    <div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        <span class="sr-only"><span class="percent">0</span>% Complete</span>
      </div>
    </div>
  </div>
</div>
</div>
{% endfor %}
</div>
{% endblock %}

{% block script %}
  {{ block.super }}
  <script src="{% static 'video/export.js' %}"></script>
{% endblock %}
